<%- include('header.ejs') %>
    <main>
        <h1>Sign Up</h1>
        <form action="" method="post">
            <% if (signup) { %>
                <div class="mb-3">
                    <input class="form-control" type="text" name="firstName" id="firstName" placeholder="First Name (Optional)">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" name="lastName" id="lastName" placeholder="Last Name (Optional)">
                </div>
            <% } %>
            <div class="mb-3">
                <input class="form-control" type="text" name="username" id="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <% if (signup) { %>
                <div class="mb-3">
                    <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
                </div>
            <% } %>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% if (typeof errors != 'undefined') { %>  
            <p>There are validation errors</p>
        <% } %>
    </main>
<%- include('footer.ejs') %>